REPO_OWNER=kratos404404 # Remplacez par votre nom d'utilisateur GitHub
TAG=local # Remplacez par le tag de votre image (ex: latest, v1.0, etc.)
REGISTRY=ghcr.io/${REPO_OWNER} # URL du registre GitHub Container Registry
PAT=ghp_xxxxxxxxxxxxxxxxxxxxxxxxx # Remplacez par votre Personal Access Token GitHub (avec les permissions nécessaires pour accéder au registre)